.table-container {
  overflow-x: auto;
}

.company-table {
  width: 100%;
  border-collapse: collapse;
}

.company-table th,
.company-table td {
  padding:  0px 8px;
  border: 1px solid #ddd;
  min-width: 100px;
}

.company-table th {
  background-color: #f2f2f2;
  text-align: left;
  font-weight: normal;
  color: rgb(97, 95, 95);
}

.company-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.description-column {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .company-table th,
  .company-table td {
    padding: 4px;
  }
}
